<head>
    <title>Регистрация</title>
    <link rel="stylesheet" href="/public/css/auth.css">
    <link rel="stylesheet" href="/public/css/common.css">
</head>

<body>
    <main>
        <div class="signup" id="signup">
            <h1 class="mb-4 text-center fs-3">Регистрация</h1>
            <div id="ambiance" class="w-50"></div>
            <div class="mb-3">
                <label for="company" class="form-label">Название компании</label>
                <input type="text" autocomplete="off" class="form-control form-control-custom" id="company"
                    name="company">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Почта</label>
                <input type="email" autocomplete="off" class="form-control form-control-custom" id="email" name="email">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Пароль</label>
                <input type="password" autocomplete="off" class="form-control form-control-custom" id="password"
                    name="password">
            </div>
            <div class="mb-3">
                <label for="source" class="form-label">Ссылка на источник</label>
                <input type="text" autocomplete="off" class="form-control form-control-custom" id="source"
                    name="source">
            </div>
            <button type="submit" class="btn btn-primary" id="signup_btn" onclick="signup()">Продолжить</button>
            <div class="my-3">
                <span>Вы уже зарегистрированы?</span>
                <a class="text-decoration-none" href="/auth/login">Войти</a>
            </div>
        </div>
    </main>

    <script>
        function signup() {
            loading(2, el = '#signup_btn');
            let ambianceElement = $('.signup #ambiance');
            let name = $('#company').val().trim();
            let email = $('#email').val().trim();
            let password = $('#password').val().trim();
            let url = $('#source').val().trim();

            if (!isValidEmail(email)) {
                ambianceElement.html('<p>Неверная почта</p>').addClass('invalid-email show');
                setTimeout(function () {
                    loading(20, el = '#signup_btn');
                    ambianceElement.removeClass('show invalid-email').html('');
                }, 2000);
                return;
            }

            $.ajax({
                url: '/api/auth/register',
                method: 'post',
                dataType: 'json',
                data: {
                    email: email,
                    password: password,
                    name: name,
                    url: url
                },
                success: function (res) {
                    window.location.href = '/admin';
                }, error: function (err) {
                    loading(20, el = '#signup_btn');
                    console.log(err);
                }
            });
        }

        function isValidEmail(email) {
            return /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(email);
        }
    </script>
</body>

</html>