<head>
    <link rel="stylesheet" href="/public/css/admin.css">
    <title>Админская панель | Продукты</title>
</head>
<body>
    <main class="mt-4" style="width: 75%;">
        <div class="hstack justify-content-between mb-3">
            <h4>Список товаров</h4>
            <button class="btn btn-success">Добавить</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered border-primary-subtle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col">Описание</th>
                        <th scope="col">Категория</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Плюшевая мишка</td>
                        <td class="table__products__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quia autem voluptatem sapiente! Quod obcaecati, iusto maiores dignissimos voluptatum eius ratione deleniti ut libero repudiandae minima at aliquid eligendi natus.</td>
                        <td>Игрушки</td>
                        <td style="width: 15%;"><span class="fw-medium" style="font-size: 1.2rem;">5000</span> тнг.</td>
                        <td class="hstack gap-3 justify-content-center">
                            <a class="" href="">
                                <span class="material-symbols-rounded text-info">stylus</span>
                            </a>
                            <a class="" href="">
                                <span class="material-symbols-rounded text-danger">delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>