<head>
    <link rel="stylesheet" href="/public/css/admin.css">
    <title>Админская панель | Категории</title>
</head>
<body>
    <main class="mt-4" style="width: 40%;">
        <div class="hstack justify-content-between mb-3">
            <h4>Категории</h4>
            <button class="btn btn-success">Добавить</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered border-primary-subtle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Название</th>
                        <th scope="col" style="width: 10%;">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Игрушки</td>
                        <td class="hstack gap-3 justify-content-center">
                            <a class="" href="">
                                <span class="material-symbols-rounded text-info">stylus</span>
                            </a>
                            <a class="" href="">
                                <span class="material-symbols-rounded text-danger">delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>
</html>