<head>
    <link rel="stylesheet" href="/public/css/admin.css">
    <title>Админская панель | Пользователи</title>
</head>

<body>
    <main class="mt-4" style="width: 75%;">
        <div class="hstack justify-content-between mb-3">
            <h4>Список пользователей</h4>
            <button class="btn btn-success">Добавить</button>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered border-primary-subtle align-middle text-center">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Фамилия</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Почта</th>
                        <th scope="col">Номер телефона</th>
                        <th scope="col">Город</th>
                        <th scope="col">Адрес</th>
                        <th scope="col">Изменить</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Диас</td>
                        <td>Мерекеев</td>
                        <td class="text-primary">Продавец</td>
                        <td>diasmerekeev1@gmail.com</td>
                        <td>+7 747 956 3002</td>
                        <td>Астана</td>
                        <td>Туркестан 50</td>
                        <td class="hstack gap-3 justify-content-center">
                            <a class="" href="">
                                <span class="material-symbols-rounded text-info">stylus</span>
                            </a>
                            <a class="" href="">
                                <span class="material-symbols-rounded text-danger">delete</span>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Виктор</td>
                        <td>Хегай</td>
                        <td class="text-success">Пользователь</td>
                        <td>viktorkhegay1@gmail.com</td>
                        <td>+7 747 284 8231</td>
                        <td>Астана</td>
                        <td>Кабанбай батыра 21</td>
                        <td class="hstack gap-3 justify-content-center">
                            <a class="" href="">
                                <span class="material-symbols-rounded text-info">stylus</span>
                            </a>
                            <a class="" href="">
                                <span class="material-symbols-rounded text-danger">delete</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</body>

</html>