<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/public/css/style.css">

    <link rel="stylesheet" href="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet"
        href="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/addon/display/fullscreen.css">
    <link rel="stylesheet" href="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/theme/night.css">
    <script src="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/mode/javascript/javascript.js"></script>
    <script src="https://webapi-s1.s3.amazonaws.com/bower_components/codemirror/addon/display/fullscreen.js"></script>

</head>

<body>
    <main style="margin-left: 350px;">
        <h1 class="mt-5">Конфигурация</h1>
        <div id="import" class="pt-3">
            <h3>Для Сайта</h3>
            <span>Импортируйте следующий Javascript-код в нижнюю часть вашего веб-сайта, чтобы начать обслуживать
                пользователей</span>
            <!-- code mirror -->
            <form>
    <textarea id="code" name="code" rows="5">
    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>
        
    <script>
        var ailabs_user_info = {
            'client': 'c1416',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'position': 1, //1-bottom right, 2-bottom left
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>
                                    </textarea>
            </form>
            <!--endof codemirror -->

            <!--<fieldset class="form-group">
            <legend><span>Settings</span></legend>
            Select theme&nbsp;
            <button class="btn btn-sm btn-primary">Blue</button>
            <button class="btn btn-sm btn-danger">Red (selected)</button>
            <button class="btn btn-sm btn-info">Purple</button>
            </fieldset> -->
            <br><br>
            <h3>Для Телеграм</h3>
            <span>Вставть токен вашего бота для интеграции</span>
            <div class="d-flex gap-5">
                <input type="text" class="form-control" name="" id="tg_token" placeholder="token">
                <button class="btn btn-primary" onclick="setTelegramToken()">Сохранить</button>
            </div>
            
        </div>
    
        <h1 class="mt-5">Документы &nbsp; <button class="btn btn-primary" onclick="showCreateSourceModal()">+ Добавить
                документ</button></h1>
  

        <div id="sources" class="container mt-5 p-0">

        </div>
    </main>

    <div class="modal fade" id="create_source-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Create Source</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Source title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">URL</label>
                            <div class="d-flex gap-3">
                                <input class="form-control" id="source_url" placeholder="https://" />
                                <button class="btn btn-dark" type="button"
                                    onclick="extractFromSource()">Extract</button>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Content</label>
                            <textarea class="form-control" id="content" rows="6" placeholder="Content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="create_source_btn" class="btn btn-primary px-md-4"
                        onclick="createSource()">Create</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit_source-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Source</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Title</label>
                            <input type="text" class="form-control" id="new_title" placeholder="Source title">
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">URL</label>
                            <div class="d-flex gap-3">
                                <input class="form-control" id="new_source_url" placeholder="https://" />
                                <button class="btn btn-dark" type="button"
                                    onclick="extractFromSource()">Extract</button>
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <label class="mb-2">Content</label>
                            <textarea class="form-control" id="new_content" rows="6" placeholder="Content"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="update_source_btn" class="btn btn-success px-md-4"
                        onclick="updateSource()">Update</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_source-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    Are you sure? You won't be able to revert this
                </div>
                <div class="modal-footer">
                    <button type="button" id="delete_participant_btn" class="btn btn-danger px-md-4"
                        onclick="deleteSource()">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://s2.webapi.ai/chat-widget/uniq-chat.js"></script>
        
    <script>
        var ailabs_user_info = {
            'client': 'c1416',
            'welcome_message': 'Welcome to the chat 👋',
            'popup_mode': 0, //0-off, 1-auto popup after 10 seconds for new users
            'position': 1, //1-bottom right, 2-bottom left
            'input_comment': 'Type your message or /start to restart'
        };
        AILabsChatStart();
    </script>
                
    <script>
        var globalSourceId;
        var globalSources;
        $(() => {
            getSource();
            var editor = CodeMirror.fromTextArea(document.getElementById("code"),{
            lineNumbers: true,
            theme: "night",
            extraKeys: {
            "F11": function(cm) {
                cm.setOption("fullScreen", !cm.getOption("fullScreen"));
            },
            "Esc": function(cm){
                if (cm.getOption("fullScreen")) cm.setOption("fullScreen", false);
            }
            }
            
        });
        $.ajax({
                url: '/api/company/telegram/get',
                method:'POST',
                success: function(r){
                    $('#tg_token').val(r.token)
                }

            })
        })
        function showCreateSourceModal() {
            $('#create_source-modal').modal('show');
        }

        function showDeleteSourceModal(source_index) {
            $('#delete_source-modal').modal('show');
            globalSourceId = globalSources[source_index.split('-')[1]]._id;
        }

        function showEditSourceModal(source_index) {
            $('#edit_source-modal').modal('show');
            var data = globalSources[source_index.split('-')[1]]
            globalSourceId = data._id;
            $('#new_title').val(data.title)
            $('#new_source_url').val(data.url)
            $('#new_content').val(data.content)
        }

        function createSource() {
            var title = $('#title').val();
            var url = $('#source_url').val();
            var content = $('#content').val();

            // Validate the inputs
            if (!title || !url || !content) {
                alert('Please fill in all the required fields.');
                return;
            }


            var data = {
                title: title,
                url: url,
                content: content
            };


            $.ajax({
                type: 'POST',
                url: '/api/source/create',
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                    // Handle the successful response from the server
                    console.log('Source created successfully:', response);

                    $('#create_source-modal').modal('hide');
                    window.location.reload()
                },
                error: function (xhr, status, error) {
                    // Handle the error case
                    console.error('Error creating source:', error);
                    alert('An error occurred while creating the source. Please try again.');
                }
            });
        }

        function updateSource() {
            var title = $('#new_title').val();
            var url = $('#new_source_url').val();
            var content = $('#new_content').val();

            // Validate the inputs
            if (!title || !content) {
                alert('Please fill in all the required fields.');
                return;
            }


            var data = {
                title: title,
                url: url,
                content: content
            };


            $.ajax({
                type: 'POST',
                url: '/api/source/update/' + globalSourceId,
                data: JSON.stringify(data),
                contentType: 'application/json',
                success: function (response) {
                 
                    console.log('Source updated successfully:', response);
                    alert('Saved succesfully')

                    $('#edit_source-modal').modal('hide');
                    window.location.reload()
                },
                error: function (xhr, status, error) {
                    // Handle the error case
                    console.error('Error creating source:', error);
                    alert('An error occurred while creating the source. Please try again.');
                }
            });
        }

        function setTelegramToken(){
            var tg_token = $('#tg_token').val()
            $.ajax({
                url: '/api/company/telegram/update',
                method:'POST',
                data: {token: tg_token},
                success: function(r){
                    alert('Saved succesfully')
                }

            })
        }

        function getSource() {
            $.ajax({
                type: 'GET',
                url: '/api/source/',
                success: function (response) {
                    // Handle the successful response from the server
                    globalSources = response;
                    var sourcesHTML = ''
                    console.log(globalSources)
                    response.forEach((source, index) => {
                        sourcesHTML += `
                        <div class="source mt-3 p-3 rounded bg-white">
                            <h2 data-bs-toggle="collapse" data-bs-target="#source-${index}" style="cursor: pointer;">${source.title}   <img src="https://iconape.com/wp-content/files/mf/367366/png/367366.png" width="50" style="float: right"></h2>
                          
                            <div id="source-${index}" class="collapse">
                                <label for="" class="form-label">URL</label>
                                <input type="text" class="form-control" value="${source.url}" disabled>
                                <br>
                                <label for="" class="form-label">Content</label>
                                <textarea name="" id="" rows="6" class="form-control">${source.content}</textarea>
                                <br>
                                <button class="btn btn-success px-5" onclick="showEditSourceModal('source-${index}')">Edit</button>
                                <button class="btn btn-danger" style="float: right;"
                                    onclick="showDeleteSourceModal('source-${index}')">Delete</button>
                            </div>

                        </div>
                        `
                    });
                    $('#sources').html(sourcesHTML);


                },
                error: function (xhr, status, error) {
                    // Handle the error case
                    console.error('Error creating source:', error);
                    alert('An error occurred while creating the source. Please try again.');
                }
            });
        }

        function deleteSource() {
            $.ajax({
                type: 'POST',
                url: '/api/source/delete/' + globalSourceId,
                success: function (response) {
                    window.location.reload()
                },
                error: function (xhr, status, error) {
                    // Handle the error case
                    console.error('Error deleting source:', error);
                    alert('An error occurred while deleting the source. Please try again.');
                }
            });
        }

        function extractFromSource() {
            loading(0)
            var source = $('#source_url').val().trim();
            if (!source) {
                $.ambiance({ message: "Source URL value must be valid URL address", type: "error", fade: true, timeout: 5 });
                return;
            }
            if (!source.startsWith('http')) source = 'https://' + source;

            $.ajax({
                url: 'https://accounts.webapi.ai/services/upload_file',
                method: 'POST',
                data: { 'action': 'urlExtract', 'url': source },
                dataType: 'json',
                success: function (r) {
                    if (r.content) $('#content').val(r.content);
                    else $.ambiance({ message: "could not extract content from the source URL address", type: "error", fade: true, timeout: 5 });
                }
            });
        }

       
    </script>
</body>

</html>