<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <main>
        <div class="product">
            <div class="container d-flex gap-5 w-50 align-items-center">
               <h1>Система для интеграции чат бота и верификации личности</h1>
               <img src="/public/img/bot_internal.png" alt="">
            </div>
        </div>

        <div class="container" style="text-align: center;">
            <button class="btn btn-primary">Начать сейчас</button>
        </div>
    </main>

    <script>
        function redirectToPage() {
            location.href = '/product';
        }
    </script>
</body>
</html>