<head>
    <title>Main page</title>
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
    <main>
        <div class="product">
            <div class="container d-flex gap-5 w-50 align-items-center">
               <h1>Система для интеграции чат бота и верификации личности</h1>
               <img src="/public/img/bot_internal.png" alt="">
            </div>
        </div>

        <div class="container" style="text-align: center;">
            <a class="btn btn-primary" href="/auth/login">Начать сейчас</a>
        </div>
    </main>
</body>
</html>