<head>
    <title>Product Page</title>
    <link rel="stylesheet" href="/public/css/product.css">
    <link rel="stylesheet" href="/public/vendor/splide-4.1.3/dist/css/splide.min.css">
</head>
<body>
    <div class="product__category mb-5">
        <div class="container">
            <div class="hstack gap-5">
                <a class="hstack text-decoration-none text-dark" onclick="history.back()" style="cursor: pointer;">
                    <span class="material-symbols-rounded">arrow_back_ios</span>Назад
                </a>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb" style="margin-bottom: 0 !important;">
                        <li class="breadcrumb-item">Lorem ipsum dolor sit amet.</li>
                    </ol>   
                </nav>
            </div>
        </div>
    </div>
    
    <div class="product__single">
        <div class="container">
            <div class="product__inner">
                <div class="product__left">
                    <section class="splide" aria-label="Splide Basic HTML Example" id="product-splide">
                        <div class="splide__track">
                            <ul class="splide__list">
                                <li class="splide__slide">
                                    <img src="https://placehold.co/500x260/gray/white" alt="">
                                </li>
                                <li class="splide__slide">
                                    <img src="https://placehold.co/500x260/gray/white" alt="">
                                </li>
                            </ul>
                        </div>
                    </section>
                    <div class="product__review">
                        <div class="product__review__header">
                            <h3>Отзывов: 2</h3>
                            <div class="product__review-stars">
                                <span class="material-symbols-rounded">star</span>
                                <span class="material-symbols-rounded">star</span>
                                <span class="material-symbols-rounded">star</span>
                                <span class="material-symbols-rounded">star</span>
                                <span class="material-symbols-rounded">star</span>
                            </div>
                        </div>
                        <hr>
                        <div class="hstack gap-3 mb-3">
                            <img src="https://placehold.co/100x100/gray/white" alt="" width="40" style="border-radius: 100%;">
                            <textarea rows="1" cols="85" placeholder="Напишите ваш отзыв..." style="padding: 1rem 0 0 .5rem" id="text"></textarea>
                        </div>
                        <div class="text-end">
                            <button class="btn btn-info mt-3" onclick="addComment()">Отправить</button>
                        </div>

                        <div class="product__review__body">
                            <div class="product__review__element">
                                <div class="product__review-stars">
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                </div>
                                <div class="product__review__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ut praesentium odit tempora deserunt voluptatibus nihil necessitatibus harum dolore ea!</div>
        
                                <div class="product__review__author">
                                    <div class="img-container">
                                        <img src="https://placehold.co/100x100/gray/white" alt="">
                                    </div>
                                    <div>Lorem Ipsum</div>
                                </div>
                            </div>
                            <div class="product__review__element">
                                <div class="product__review-stars">
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                    <span class="material-symbols-rounded">star</span>
                                </div>
                                <div class="product__review__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempore ut praesentium odit tempora deserunt voluptatibus nihil necessitatibus harum dolore ea!</div>
        
                                <div class="product__review__author">
                                    <div class="img-container">
                                        <img src="https://placehold.co/100x100/gray/white" alt="">
                                    </div>
                                    <div>Lorem Ipsum</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product__right">
                    <div class="product__sidebar">
                        <div class="product__price text-main">5000 тнг.</div>
                        <div class="product__title">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique autem aliquid ratione distinctio obcaecati illo aperiam dolorem et labore ipsum.</div>
                        <div class="collapse product__description" id="product-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sint consectetur, modi, quia porro facilis dolore incidunt quo maxime dignissimos velit sed earum ullam, nihil facere dolores nesciunt ipsam necessitatibus. Illum aliquam provident ad nesciunt culpa laudantium praesentium error commodi corporis.</div>
                        <div class="product__description-btn" id="product-description-btn"> Развернуть описание...</div>
                        <div class="product__author hstack gap-2">
                            <div class="img-container">
                                <img src="https://placehold.co/100x100/gray/white" alt="">
                            </div>
                            <a href="/profile">Dias Merekeyev</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


            
    </div>

    <script src="/public/vendor/splide-4.1.3/dist/js/splide.min.js"></script>
    <script>
        new Splide('#product-splide', {
            type: 'slide', 
            rewind: true,
            rewindSpeed: 500,
        }).mount();

        $(() => {
            productDescriptionHandler();
        })

        function productDescriptionHandler() {
            const $productDescriptionBtn = $("#product-description-btn");
            const $productDescription = $("#product-description");

            $productDescriptionBtn.on('click', function() {
                if ($productDescription.hasClass("show")) {
                    $(this).text("Развернуть описание...");
                    $productDescription.collapse("hide");
                } else {
                    $(this).text("Свернуть описание");
                    $productDescription.collapse("show");
                }
            })
        }
    </script>
</body>
</html>