@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');
:root {
    --main-green: #398843;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Alegreya', sans-serif !important;
    font-weight: 400;
}

main {
    margin-bottom: 2rem;
}

.text-main {
    color: var(--main-green);
}

/* Custom */
.form-control-custom {
    border: 1px solid rgb(155, 155, 155) !important;
}