



.profile__inner {
    display: flex;
    justify-content: space-between;
}

.profile__left {
    width: 40%;
}

.profile__right {
    width: 58%;
    margin-top: 5rem;
}


/* Profile Info */
.profile__title {
    font-size: 2rem;
    font-weight: 700;
}

.profile__edit-btn {
    cursor: pointer;
}

.profile__edit-btn:hover {
    color: var(--bs-secondary-color);
}

.profile__info {
    margin-top: 2rem;
    border: 1px solid gray;
    padding: 2rem 5rem 2rem 2rem;
    border-radius: 1rem;
}

.profile__img-container {
    width: 120px;
    height: 120px;
    overflow: hidden;
}

.profile__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.profile__fullname {
    font-size: 1.3rem;
    font-weight: 600;
}

.profile__info__element {
    font-size: 1.1rem;
}

.profile__info__element div:last-child{
    font-weight: 500;
}

/* Profile Product List */

.product__element {
    cursor: pointer;
    border: 1px solid var(--bs-gray-500);
    padding: 1rem;  
    border-radius: .6rem;
}

.product__img-container {
    width: 100px;
    height: 75px;
    overflow: hidden;
}

.product__img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
}

.product__content {
    width: 65%;
}

.product__title {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;
    overflow: hidden;

    font-weight: 500;
    font-size: 1.2rem;
}

.product__description {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.product__price {
    font-size: 1.5rem;
    font-weight: 600;
}

/* Add Product Modal */
.file-container .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: .5rem;
    position: relative;
}

.file-container .uploaded-image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.file-container .template-image {
    width: 50px;
}

.img-container .add-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: none !important;
    border-radius: .5rem ;
}

.img-container .delete-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background: none !important;
    border-radius: .5rem ;
}

.img-container .first-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 50px;
}

.img-container .delete-btn span{
    color: var(--bs-success);
}

.img-container:hover .delete-btn {
    background-color: #fff !important;
    border-color: var(--bs-success) !important;
    display: block;
    /* box-shadow: 2px 2px 5px 0px; */
}

.add-btn {
    border: none;
}

.add-btn span{
    font-size: 4rem;
}

.img-container:has(.template-image):hover .template-image {
    display: none;
}

.img-container:has(.template-image):hover .add-btn {
    display: block;
}